[submodule "submodules/frontend"]
	path = submodules/frontend
	url = https://github.com/EnivNaqSevraqf/sahara_frontend
	branch = boilerplate_for_main_stuff
[submodule "submodules/backend"]
	path = submodules/backend
	url = https://github.com/EnivNaqSevraqf/sahara_backend
	branch = final_backend
[submodule "Documents"]
	path = Documents
	url = https://github.com/EnivNaqSevraqf/Documents
